@using SpotifyRecommendations.Application.Spotify.Queries.GetRecommendationsQuery
@model GetRecommendationsViewModel
@{
    ViewData["Title"] = "Spotify Recommendations";
}
<div class="position-absolute">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"> Go back</a>
</div>
<div class="text-center" style="margin-bottom: 50px">
    <h1 class="display-4" >Spotify Recommendations</h1>
    <br/>
    <span><i>Based on your liked tracks, these might peek your interest.</i></span>
</div>

<form class="row" asp-controller="Home" asp-action="RefineRecommendations" method="post">
    @{
        var query = new GetRecommendationsQuery();
    }
    <div class="col-3">
        Danceability: <input asp-for="@query.TargetDanceability" type="range" class="form-range" min="0" max="10" step="1"/>
    </div>
    <div class="col-3">
        Acousticness: <input asp-for="@query.TargetAcousticness" type="range" class="form-range" min="0" max="10" step="1"/>
    </div>
    <div class="col-3">
        Energy: <input asp-for="@query.TargetEnergy" type="range" class="form-range" min="0" max="10" step="1"/>
    </div>
    <div class="col-3">
        Popularity: <input asp-for="@query.TargetPopularity" type="range" class="form-range" min="0" max="10" step="1"/>
    </div>
    <button type="submit" class="btn mx-auto" style="background-color: #1DB954; color: white; width: 300px; display: block; margin-top: 20px">Refine recommendations</button>
</form>

<div class="container" style="margin-top: 20px;">
    <p style="margin-bottom: 30px">Viewing @Model.RecommendedTracks.Count of @Model.TotalTracks tracks</p>
    <div class="row">
        @foreach (var track in Model.RecommendedTracks)
        {
            <div class="col-3 p-1">
                <div class="card text-white mb-3" style="border: 0px; background-color: #1DB954; background-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%), url(@track.ImageUrl); background-position: center;">
                    <div style="margin-left: 15px">
                        <div class="card-text">@track.Name</div>
                        <div class="card-text"><i>@track.Artist</i></div>
                    </div>
                    <div class="card-body">
                        <iframe style="float: right;" src="https://open.spotify.com/embed/track/@track.Id" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                        <div class="position-absolute" style="left: 15px; bottom: 15px">
                            <a href="spotify:track:@track.Id" class="btn btn-outline-light">Open in Spotify</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
